.profile,
.statistics {
  display: flex;
  flex-direction: column;
}
.profile_box_btn {
  display: flex;
}
.profile_btn {
  border: 1 solid #020312;
  border-radius: 4px;
  padding: 3px 5px;
}
.profile_btn:not(:last-child) {
  margin-right: 10px;
}

.profile_title {
  font-size: 30px;
}

.statistics_list {
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 20px;
}
.statistics_textNo {
  font-size: 20px;
  margin: 0;
}

.good {
  background-color: #2efc0a;
}
.neutral {
  background-color: #0ab4fc;
}
.bad {
  background-color: #fc160a;
}
